body{
  background-color: #7cf6f6;
    background-image: linear-gradient(0deg, #30a4b6 41%, #97fce6 100%);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage {
  flex-grow: 1;
}